<h1> Intrisic Motivation </h1> 
<body> 
    <p> Intrinsic motivation is the act of doing something without any obvious external rewards. <br>
    You do it because it's enjoyable and interesting, rather than because of an outside incentive <br>
     or pressure to do it, such as a reward or deadline. </p> 


    <p> Here at Chore Hero, we let kids set their own achievement goals and spend their time <br>
    creating badges to earn on their own.<p> 


<h2> Do you mean Kids can want to do Chores???!?!? </h2> 

<p> We will have set Chore badges that remind kiddos, they are helping the household <br> 
making them feel good about the WHY behind the chore. Starting young and understanding routine <br> 
shapes kiddos into CHORE HEROES! <br> <br> 

<h3>Set badges and badges they create for themselves can be intriniscally motivating! <br>
<br> <br> You'll see!</h3> </p> <br> <br>

</body>

<h2><a href='/signup'> Sign Up </a></h2>