<form action="/chores" method="POST">
<label for="name">Chore Name:</label> <br>
<input type="text" name="name" placeholder="Sweep the Living Room"> <br> <br>
<label for="description">Description:</label> <br>
<input type="text" name="description" placeholder="Get the broom and dust pan, sweep the living room, YES EVEN UNDER THE COUCH!"> <br> <br>
<input type="submit" value="Create Chore"> 
</form>

<a href='/chores'> Go back to the Chore list </a> <br><br>

<a href='/dashboard'> Back to Dashboard </a>

